body, html {
  font-size: 16px;
  font-family: "arial", "sans-serif";
  margin: 0;
  height: 100%;
  overflow-x: hidden; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1; }

.icon-search-container, .icon-carrinho-container {
  display: inline-block;
  border: 2px solid #d9d9d9;
  border-radius: 0 0 4px 4px;
  height: 40px;
  width: 40px;
  position: relative;
  transition: width 0.2s ease-out;
  backface-visibility: hidden; }

.icon-search-container .fa-search, .icon-carrinho-container > span {
  color: #c0c8ca;
  font-size: 20px;
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer; }

div#sliderFashion {
  max-height: 750px;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block; }
div#clientesCarousel img {
  max-width: 168px !important; }

section#clientes {
  padding: 25px 0;
  margin-bottom: 40px; }
section#newsletter {
  width: 100%;
  display: block;
  background-color: #ed3f46;
  padding: 15px 0; }
  section#newsletter h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0; }
  section#newsletter p {
    color: white;
    text-transform: uppercase; }
section#footer {
  width: 100%;
  display: block;
  background-color: #222222;
  padding: 25px 0;
  color: white; }
  section#footer h3 {
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
    font-size: inherit;
    margin-bottom: 20px; }
    section#footer h3:before {
      padding: 0;
      margin: 0;
      content: "";
      width: 50px;
      height: 2px;
      background-color: #ed3f46;
      position: absolute;
      left: 15px;
      top: 47px; }
  section#footer h5 {
    text-align: center;
    font-size: small;
    padding-bottom: 10px;
    padding-top: 50px;
    border-bottom: 1px solid #333; }
section#slider > .container-fluid {
  padding: 0; }

.carousel-inner {
  height: 100%; }

.search {
  text-align: center;
  position: fixed;
  top: -3px;
  right: 100px;
  display: block;
  z-index: 99; }

.carrinho {
  text-align: center;
  position: fixed;
  top: -3px;
  right: 62px;
  display: block;
  z-index: 99; }

.icon-search-container {
  background: white; }
  .icon-search-container.active {
    width: 285px;
    background: white; }
    .icon-search-container.active .fa-times-circle {
      opacity: 1; }
    .icon-search-container.active .search-input {
      width: 200px; }
  .icon-search-container .fa-times-circle {
    opacity: 0;
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 8px;
    transition: opacity 0.2s ease-out;
    cursor: pointer; }
  .icon-search-container .search-input {
    position: absolute;
    cursor: default;
    left: 45px;
    top: 6px;
    width: 0;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.2s ease-out; }

.icon-carrinho-container {
  background: white; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }
.mainMenu {
  margin: 0;
  padding: 0;
  text-align: center;
  float: right;
  width: 680px;
  margin-top: 60px;
  position: relative;
  display: block;
  text-transform: uppercase; }
  .mainMenu > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    overflow-y: hidden;
    max-height: 0; }
  .mainMenu li {
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    display: block;
    width: 100%;
    float: left;
    border-top: 1px solid #ccc; }
  .mainMenu a {
    display: block;
    color: #333;
    text-decoration: none;
    width: 94%;
    padding: 5px 3%;
    background: none; }
    .mainMenu a:visited {
      display: block;
      color: #333;
      text-decoration: none;
      width: 94%;
      padding: 5px 3%;
      background: none; }
    .mainMenu a:active {
      color: #ff0000; }

#toggleMenu {
  display: none; }
  #toggleMenu:checked ~ ul {
    max-height: 100%;
    opacity: 1; }

@media screen and (min-width: 768px) {
  .mainMenu ul {
    display: block !important;
    border: 0;
    overflow: visible;
    max-height: 100% !important; }
    .mainMenu ul li {
      width: auto;
      display: inline;
      border: 0; }
  .mainMenu li {
    border: 0; }
  .mainMenu a {
    padding: 10px 3px 10px 8px; }
    .mainMenu a:hover {
      color: #ff0000;
      transition: 0.7s; }
    .mainMenu a:visited {
      padding: 10px 3px 10px 8px; }

  label.menuTitle {
    display: none !important; } }
@media screen and (max-width: 1200px) {
  img.logo {
    float: none;
    margin: 0 auto; }

  nav.mainMenu {
    float: none;
    margin: 0 auto;
    height: 55px; } }
@media screen and (max-width: 768px) {
  nav.mainMenu {
    float: none;
    width: 100%;
    margin-top: 5px;
    border-top: 2px solid #444646;
    border-bottom: 2px solid #444646;
    margin-bottom: 10px; }

  img.logo {
    width: 90%;
    display: block;
    max-width: 350px;
    margin: 0 auto; }

  ul.menu {
    background: white; } }
.product-background {
  background-image: url("../img/back-relogio.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 210px; }

.product.product-background {
  margin: 30px 0; }
.product:hover .button-comprar-hover {
  opacity: 1; }

.product-background-container {
  width: 50%;
  display: block;
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 30px; }

.product-background-category {
  text-align: right; }
  .product-background-category h3 {
    font-size: large;
    color: #e3e3e3; }

.product-background-title {
  text-align: right; }
  .product-background-title h3 {
    font-weight: 600;
    text-transform: uppercase; }

.product-background-button {
  float: right;
  margin-top: 20px; }
  .product-background-button a.link {
    color: #ff0000; }
    .product-background-button a.link:hover {
      text-decoration: none; }

.button-comprar-hover {
  opacity: 0;
  width: 100%;
  height: 45px;
  margin-top: -64px;
  z-index: 99;
  position: relative;
  transition: 0.7s;
  cursor: pointer; }

.button-comprar-hover-title {
  background: rgba(255, 0, 0, 0.5);
  width: 80%;
  float: left;
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  padding-top: 12px; }

.button-comprar-hover-icon {
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  float: left;
  color: white;
  text-align: center;
  height: 100%;
  padding-top: 12px; }

.product-price-description {
  display: block;
  width: 100%;
  height: 45px;
  max-width: 165px;
  margin: 0 auto; }
  .product-price-description > span {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    font-size: small; }

span.product-price-from {
  text-decoration: line-through;
  color: #a9a9a9; }
span.product-price-now {
  color: #ff0000;
  font-weight: 600; }

.newsletter-text .newsletter-icon {
  display: block;
  float: left;
  width: 20%;
  height: 80px;
  max-width: 75px;
  padding-top: 16px; }
  .newsletter-text .newsletter-icon i {
    text-align: center;
    display: block; }
.newsletter-text .newsletter-text-container {
  display: block;
  float: left;
  width: 80%;
  font-size: small;
  padding-top: 5px; }

footer {
  padding: 0; }
  footer .container-fluid {
    padding: 0; }

label.menuTitle {
  margin: 0;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 24px 19px;
  font-size: 20px;
  width: 94%;
  padding: 6px 3%;
  font-weight: bold; }

img.logo {
  padding: 20px; }

a.thumbnail {
  border: none;
  margin-bottom: 0; }

#products-container .product {
  border: 1px solid #e3e3e3;
  margin-bottom: 15px;
  height: 340px; }

.product-title h3 {
  text-align: center;
  text-transform: lowercase;
  font-size: larger;
  font-weight: 600;
  color: #656565; }

.newsletter-text-container h3 {
  font-size: large; }

form.newsletter_form {
  width: 100%;
  padding-top: 20px; }
  form.newsletter_form input[type="email"] {
    height: 38px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: small;
    width: 70%; }
  form.newsletter_form button {
    background-color: #222222;
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    font-size: small;
    width: 28%; }

#clientesCarousel .span3 {
  width: 25%;
  max-width: 225px !important;
  display: block;
  float: left; }

#footer ul {
  padding: 0;
  margin: 0; }
  #footer ul li {
    list-style-type: none;
    padding: 3px 0; }
    #footer ul li a {
      color: white;
      font-size: small;
      cursor: pointer; }
      #footer ul li a:hover {
        text-decoration: none; }

.endereco-container span {
  display: block;
  width: 100%;
  font-size: small; }
  .endereco-container span.tel {
    padding: 20px 0; }

/*# sourceMappingURL=styles.css.map */
