//colors
$color_tundora_approx: #444646;
$white: white;
$red: #ff0000;
$color_alto_approx: #d9d9d9;
$color_loblolly_approx: #c0c8ca;
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;
$color_mercury_approx: #e3e3e3;
$red_50: rgba(255, 0, 0, 0.5);
$black_50: rgba(0, 0, 0, 0.5);
$color_storm_dust_approx: #656565;
$color_shady_lady_approx: #a9a9a9;
$color_log_cabin_approx: #222222;
$color_coral_red_approx: #ed3f46;
//fonts
$font_0: "arial";
$font_1: "sans-serif";
//urls
$url_2: url("../img/back-relogio.png");
%extend_1 {
  font-size: 16px;
  font-family: $font_0, $font_1;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

%extend_2 {
  display: block;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

%extend_3 {
  display: inline-block;
  border: 2px solid $color_alto_approx;
  border-radius: 0 0 4px 4px;
  height: 40px;
  width: 40px;
  position: relative;
  transition: width 0.2s ease-out;
  backface-visibility: hidden;
}

%extend_4 {
  color: $color_loblolly_approx;
  font-size: 20px;
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer;
}

body {
  @extend %extend_1;
}

html {
  @extend %extend_1;
}

div {
  &#sliderFashion {
    max-height: 750px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
  }
  
  &#clientesCarousel img {
    max-width: 168px!important;
  }
}

section {
  &#clientes {
    padding: 25px 0;
    margin-bottom: 40px;
  }
  &#newsletter {
    width: 100%;
    display: block;
    background-color: $color_coral_red_approx;
    padding: 15px 0;
    h3 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p {
      color: $white;
      text-transform: uppercase;
    }
  }
  &#footer {
    width: 100%;
    display: block;
    background-color: $color_log_cabin_approx;
    padding: 25px 0;
    color: $white;
    h3 {
      text-transform: uppercase;
      color: $white;
      padding-bottom: 10px;
      font-size: inherit;
      margin-bottom: 20px;
      &:before {
        padding: 0;
        margin: 0;
        content: "";
        width: 50px;
        height: 2px;
        background-color: $color_coral_red_approx;
        position: absolute;
        left: 15px;
        top: 47px;
      }
    }
    h5 {
      text-align: center;
      font-size: small;
      padding-bottom: 10px;
      padding-top: 50px;
      border-bottom: 1px solid $color_mine_shaft_approx;
    }
  }
  &#slider>.container-fluid {
    padding: 0;
  }
}

.carousel-inner {
  height: 100%;
  >.item {
    >img {
      @extend %extend_2;
    }
    >a>img {
      @extend %extend_2;
    }
  }
}

.search {
  text-align: center;
  position: fixed;
  top: -3px;
  right: 100px;
  display: block;
  z-index: 99;
}

.carrinho {
  text-align: center;
  position: fixed;
  top: -3px;
  right: 62px;
  display: block;
  z-index: 99;
}

.icon-search-container {
  @extend %extend_3;
  background: white;
  &.active {
    width: 285px;
    background: $white;
    .fa-times-circle {
      opacity: 1;
    }
    .search-input {
      width: 200px;
    }
  }
  .fa-search {
    @extend %extend_4;
  }
  .fa-times-circle {
    opacity: 0;
    color: $color_alto_approx;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 8px;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
  }
  .search-input {
    position: absolute;
    cursor: default;
    left: 45px;
    top: 6px;
    width: 0;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: width 0.2s ease-out;
  }
}

.icon-carrinho-container {
  @extend %extend_3;
  background: white;
  >span {
    @extend %extend_4;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

.mainMenu {
  margin: 0;
  padding: 0;
  text-align: center;
  float: right;
  width: 680px;
  margin-top: 60px;
  position: relative;
  display: block;
  text-transform: uppercase;
  >ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    overflow-y: hidden;
    max-height: 0;
  }
  li {
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    display: block;
    width: 100%;
    float: left;
    border-top: 1px solid $color_celeste_approx;
  }
  a {
    display: block;
    color: $color_mine_shaft_approx;
    text-decoration: none;
    width: 94%;
    padding: 5px 3%;
    background: none;
    &:visited {
      display: block;
      color: $color_mine_shaft_approx;
      text-decoration: none;
      width: 94%;
      padding: 5px 3%;
      background: none;
    }
    &:active {
      color: $red;
    }
  }
}

#toggleMenu {
  display: none;
  &:checked~ul {
    max-height: 100%;
    opacity: 1;
  }
}

@media screen and(min-width: 768px) {
  .mainMenu {
    ul {
      display: block!important;
      border: 0;
      overflow: visible;
      max-height: 100%!important;
      li {
        width: auto;
        display: inline;
        border: 0;
      }
    }
    li {
      border: 0;
    }
    a {
      padding: 10px 3px 10px 8px;
      &:hover {
        color: $red;
        transition: 0.7s;
      }
      &:visited {
        padding: 10px 3px 10px 8px;
      }
    }
  }
  label.menuTitle {
    display: none!important;
  }
}

@media screen and(max-width: 1200px) {
  img.logo {
    float: none;
    margin: 0 auto;
  }
  nav.mainMenu {
    float: none;
    margin: 0 auto;
    height: 55px;
  }
}

@media screen and(max-width: 768px) {
  nav.mainMenu {
    float: none;
    width: 100%;
    margin-top: 5px;
    border-top: 2px solid $color_tundora_approx;
    border-bottom: 2px solid $color_tundora_approx;
    margin-bottom: 10px;
  }
  img.logo {
    width: 90%;
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }
  ul.menu {
    background: $white;
  }
}

.product-background {
  background-image: $url_2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 210px;
}

.product {
  &.product-background {
    margin: 30px 0;
  }
  &:hover .button-comprar-hover {
    opacity: 1;
  }
}

.product-background-container {
  width: 50%;
  display: block;
  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 30px;
}

.product-background-category {
  text-align: right;
  h3 {
    font-size: large;
    color: $color_mercury_approx;
  }
}

.product-background-title {
  text-align: right;
  h3 {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.product-background-button {
  float: right;
  margin-top: 20px;
  a.link {
    color: $red;
    &:hover {
      text-decoration: none;
    }
  }
}

.button-comprar-hover {
  opacity: 0;
  width: 100%;
  height: 45px;
  margin-top: -64px;
  z-index: 99;
  position: relative;
  transition: 0.7s;
  cursor: pointer;
}

.button-comprar-hover-title {
  background: $red_50;
  width: 80%;
  float: left;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  padding-top: 12px;
}

.button-comprar-hover-icon {
  background: $black_50;
  width: 20%;
  float: left;
  color: $white;
  text-align: center;
  height: 100%;
  padding-top: 12px;
}

.product-price-description {
  display: block;
  width: 100%;
  height: 45px;
  max-width: 165px;
  margin: 0 auto;
  >span {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    font-size: small;
  }
}

span {
  &.product-price-from {
    text-decoration: line-through;
    color: $color_shady_lady_approx;
  }
  &.product-price-now {
    color: $red;
    font-weight: 600;
  }
}

.newsletter-text {
  .newsletter-icon {
    display: block;
    float: left;
    width: 20%;
    height: 80px;
    max-width: 75px;
    padding-top: 16px;
    i {
      text-align: center;
      display: block;
    }
  }
  .newsletter-text-container {
    display: block;
    float: left;
    width: 80%;
    font-size: small;
    padding-top: 5px;
  }
}

footer {
  padding: 0;
  .container-fluid {
    padding: 0;
  }
}

label.menuTitle {
  margin: 0;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 24px 19px;
  font-size: 20px;
  width: 94%;
  padding: 6px 3%;
  font-weight: bold;
}

img.logo {
  padding: 20px;
}

a.thumbnail {
  border: none;
  margin-bottom: 0;
}

#products-container .product {
  border: 1px solid $color_mercury_approx;
  margin-bottom: 15px;
  height: 340px;
}

.product-title h3 {
  text-align: center;
  text-transform: lowercase;
  font-size: larger;
  font-weight: 600;
  color: $color_storm_dust_approx;
}

.newsletter-text-container h3 {
  font-size: large;
}

form.newsletter_form {
  width: 100%;
  padding-top: 20px;
  input[type="email"] {
    height: 38px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: small;
    width: 70%;
  }
  button {
    background-color: $color_log_cabin_approx;
    border-radius: 4px;
    border: none;
    padding: 10px 25px;
    color: $white;
    text-transform: uppercase;
    font-size: small;
    width: 28%;
  }
}

#clientesCarousel .span3 {
  width: 25%;
  max-width: 225px!important;
  display: block;
  float: left;
}

#footer ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    padding: 3px 0;
    a {
      color: $white;
      font-size: small;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.endereco-container span {
  display: block;
  width: 100%;
  font-size: small;
  &.tel {
    padding: 20px 0;
  }
}